{{- partial "header.html" . }}
{{- if .Site.Home.Content }}
  {{- if eq (.Scratch.Get "relearnOutputFormat") "PRINT" }}
    {{- partial "body.print.html" .Site.Home }}
  {{- else }}
    {{- partial "body.html" .Site.Home }}
  {{- end }}
{{- else }}
          <article>

<h1>Welcome to DaoSpace</h1>
  
  <h2>This is the official documentation for DaoSpace. 
    Please find the chapters listed to the left. 
    Please search for keywords to find them quicker.</h2>

            <footer class="footline">
          	</footer>
          </article>
{{- end }}
{{- partial "footer.html" . }}